# Source files (since we publish the built files)
/src/

# Test files
/test/
/examples/

# Development config files
.babelrc
.eslintrc
.eslintignore
.editorconfig
.gitignore
.node-version

# Development tools
/scripts/
*.config.js

# Git files
.git/
.gitattributes

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/
